---
import BaseHead from "../components/BaseHead.astro";
import IndexHeader from "../components/IndexHeader.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <IndexHeader />
    <main>
      <section
        style={{
          display: "grid",
          gap: "1em",
          maxWidth: "100ch",
          margin: "0 auto",
          padding: "1em 2em",
          gridTemplateColumns: "repeat(auto-fill, minmax(250px, 1fr))",
        }}
      >
        {
          posts.map((post) => (
            <a
              href={post.url}
              style={{ textDecoration: "none", color: "inherit" }}
            >
              <article
                style={{
                  boxShadow:
                    "8px 14px 38px rgb(39 44 49 / 8%), 1px 3px 8px rgb(39 44 49 / 5%)",
                  minHeight: "150px",
                  overflow: "hidden",
                  display: "flex",
                  flexDirection: "column",
                  borderRadius: "10px",
                }}
              >
                <img
                  height={150}
                  src="/placeholder-hero.jpg"
                  alt={post.description}
                  style={{ marginBottom: "1em", objectFit: "cover", margin: 0 }}
                />
                <div style={{ padding: "1em" }}>
                  <h3 style={{ margin: 0, marginBottom: "5px" }}>
                    {post.frontmatter.title}
                  </h3>
                  <time
                    datetime={post.frontmatter.pubDate}
                    style={{ color: "#738a94" }}
                  >
                    {new Date(post.frontmatter.pubDate).toLocaleDateString(
                      "en-us",
                      {
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                      }
                    )}
                  </time>
                  <p style={{ marginBottom: 0 }}>
                    {post.frontmatter.description}
                  </p>
                </div>
              </article>
            </a>
          ))
        }
      </section>
    </main>
    <Footer />
  </body>
</html>
